<% provide(:title, 'Pet Registration') %>
<h1>Registered information</h1>
<hr>
<h2 class="left-subtitle">Personal information</h2>
<%= render 'shared/owner_registration_information' %>
<hr>
<h2 class="left-subtitle">Pets owned</h2>